/* Developer: Juan Ignacio Cieri */
/* Developer URI: http://juancieri.com */
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
@import 'https://unpkg.com/aos@2.3.1/dist/aos.css';
@import url(animate.min.css);
@import url(owl.carousel.min.css);
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap';
body, html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px; }

.navbar-toggler {
  background-color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid black;
  outline: none !important;
  width: 45px;
  height: 40px;
  margin: 0 !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .navbar-toggler .icon-bar {
    width: 100%;
    height: 2px !important;
    background-color: black;
    display: block;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: black !important;
    margin: 0 0 5px 0; }
    .navbar-toggler .icon-bar:last-child {
      margin: 0; }
    .navbar-toggler .icon-bar:nth-child(1) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 7px; }
    .navbar-toggler .icon-bar:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0px; }
    .navbar-toggler .icon-bar:nth-child(3) {
      visibility: hidden;
      opacity: 0; }
  .navbar-toggler.collapsed .icon-bar {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 0; }
    .navbar-toggler.collapsed .icon-bar:nth-child(3) {
      visibility: visible;
      opacity: 1; }
  .navbar-toggler:hover, .navbar-toggler:focus {
    background-color: #1a1a1a !important; }
    .navbar-toggler:hover .icon-bar, .navbar-toggler:focus .icon-bar {
      background-color: white !important; }

.dropdown-menu {
  background-color: white; }
  @media screen and (max-width: 768px) {
    .dropdown-menu {
      background-color: #f2f4f6;
      border: 0; } }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999999999; }
  .header .nav-link {
    font-size: 16px;
    font-weight: 600;
    color: #7a7a7a;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
    margin-right: 20px; }
    .header .nav-link:hover {
      color: #9d0b0f !important;
      border-bottom: 2px solid #9d0b0f; }

.dropdown:hover .dropdown-menu {
  display: block; }

.dropdown-menu {
  margin-top: 0;
  padding: 0; }
  .dropdown-menu .dropdown-item {
    padding: 0.7rem 1rem;
    border-bottom: 1px dashed #535353; }
    .dropdown-menu .dropdown-item:hover {
      background: #54595f;
      color: white; }
    .dropdown-menu .dropdown-item:last-child {
      border-bottom: 0px; }

.navbar {
  background-color: #f8f9fa; }

@media screen and (max-width: 992px) {
  .navbar-brand {
    width: 80%; } }

.navbar-brand img {
  width: 48%; }

.footer {
  background: #54595f; }
  .footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle; }
  @media screen and (max-width: 992px) {
    .footer .logo-image {
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 25px; } }
  .footer .logo-image img {
    width: 55%; }
    @media screen and (max-width: 992px) {
      .footer .logo-image img {
        width: 25%; } }
  .footer .navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; }
    @media screen and (max-width: 992px) {
      .footer .navigation {
        margin-bottom: 25px; } }
    .footer .navigation li {
      display: inline-block; }
      .footer .navigation li a {
        color: #DBDBDB;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        padding: 0px 15px;
        font-weight: 500; }
        .footer .navigation li a:hover {
          color: #e70006;
          text-decoration: none; }
  .footer .information {
    list-style: none;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 992px) {
      .footer .information {
        margin-bottom: 25px;
        text-align: center; } }
    .footer .information li svg {
      color: #DBDBDB;
      margin-right: 5px; }
    .footer .information li a {
      color: #DBDBDB;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      padding: 5px 0px;
      display: inline-block; }
      .footer .information li a:hover {
        color: #e70006;
        text-decoration: none; }
  .footer .copyright {
    background: #2e2e2e;
    padding: 20px;
    text-align: center; }
    .footer .copyright p {
      padding: 0;
      margin: 0;
      color: #999999;
      font-size: 14px; }

.btn {
  outline: none !important;
  font-size: 16px;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.form .has-error .form-control {
  background-color: rgba(255, 0, 0, 0.4);
  border-color: red; }
  .form .has-error .form-control::-webkit-input-placeholder, .form .has-error .form-control.placeholder {
    color: white; }
  .form .has-error .form-control:-ms-input-placeholder, .form .has-error .form-control.placeholder {
    color: white; }
  .form .has-error .form-control::-ms-input-placeholder, .form .has-error .form-control.placeholder {
    color: white; }
  .form .has-error .form-control::placeholder, .form .has-error .form-control.placeholder {
    color: white; }

.form .has-error .help-block {
  color: red;
  font-size: 12px;
  font-size: 0.75rem; }

#home {
  margin-top: 95px; }
  #home .slider .carousel-item .carousel-caption {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: 0;
    top: 58%; }
    @media screen and (max-width: 992px) {
      #home .slider .carousel-item .carousel-caption {
        top: 50%; } }
    #home .slider .carousel-item .carousel-caption h5 {
      text-transform: uppercase;
      font-size: 44px;
      font-weight: 500; }
      @media screen and (max-width: 992px) {
        #home .slider .carousel-item .carousel-caption h5 {
          font-size: 30px; } }
    #home .slider .carousel-item .carousel-caption p {
      font-size: 24px;
      font-weight: 400; }
      @media screen and (max-width: 992px) {
        #home .slider .carousel-item .carousel-caption p {
          font-size: 16px; } }
  #home .entry {
    padding: 50px 0 0 0; }
    #home .entry p {
      font-size: 20px;
      color: #7a7a7a;
      line-height: 34px;
      padding: 0;
      margin: 0; }
      #home .entry p span {
        font-weight: 700; }
  #home .services {
    padding: 50px 0; }
    #home .services .title {
      color: #e70006;
      font-size: 50px;
      font-weight: 600; }
    #home .services .description {
      font-size: 18px;
      color: #7a7a7a;
      line-height: 32px;
      padding: 0;
      margin: 0; }
      #home .services .description span {
        font-weight: 700; }
    #home .services .item {
      margin: 50px 0 0 0; }
      #home .services .item svg {
        width: 70px; }
      #home .services .item .description {
        margin-top: 25px;
        font-size: 25px;
        color: #54595f;
        font-weight: 700; }
  #home .flota {
    padding: 50px 0; }
    #home .flota .title {
      color: #e70006;
      font-size: 40px;
      font-weight: 600; }
    #home .flota .description {
      font-size: 16px;
      color: #7a7a7a;
      line-height: 20px;
      padding: 0;
      margin: 0;
      margin-bottom: 50px; }
      #home .flota .description span {
        font-weight: 700; }
    #home .flota .items .box {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      #home .flota .items .box:hover .overlay {
        display: block; }
      @media screen and (max-width: 992px) {
        #home .flota .items .box {
          margin-bottom: 25px; } }
      #home .flota .items .box .overlay {
        padding: 10px;
        height: 280px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        display: none; }
        #home .flota .items .box .overlay .title {
          font-size: 26px;
          color: white;
          font-weight: 500;
          text-align: center;
          margin-top: 75px; }
        #home .flota .items .box .overlay .see-more {
          font-size: 16px;
          color: white;
          border: 1px solid white;
          padding: 11px 25px;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          font-weight: 500;
          display: inline-block; }
          #home .flota .items .box .overlay .see-more:hover {
            color: #54595f;
            background: white;
            text-decoration: none; }
      #home .flota .items .box.compactador {
        background: url(../../img/flota-01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 280px; }
        @media screen and (max-width: 992px) {
          #home .flota .items .box.compactador {
            background-position: center; } }
      #home .flota .items .box.batea {
        background: url(../../img/flota-02.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 280px; }
        @media screen and (max-width: 992px) {
          #home .flota .items .box.batea {
            background-position: center; } }
      #home .flota .items .box.roll-off {
        background: url(../../img/flota-03.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 280px; }
        @media screen and (max-width: 992px) {
          #home .flota .items .box.roll-off {
            background-position: center; } }
  #home .clients {
    padding: 0 0 50px 0; }
    #home .clients .title {
      color: #e70006;
      font-size: 40px;
      font-weight: 600; }
    #home .clients .description {
      font-size: 16px;
      color: #7a7a7a;
      line-height: 20px;
      padding: 0;
      margin: 0; }
      #home .clients .description span {
        font-weight: 700; }
    #home .clients .owl-item {
      padding: 40px 40px 40px 40px; }

#empresa {
  margin-top: 95px; }
  #empresa .banner {
    background: url(../../img/slide-empresa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px; }
    #empresa .banner p {
      color: white;
      font-size: 35px;
      font-weight: 700;
      text-align: center;
      margin-top: 100px; }
  #empresa .history {
    padding: 50px 0; }
    #empresa .history p {
      margin-bottom: 1.6em;
      text-align: justify;
      color: #7a7a7a;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.8em; }
    #empresa .history img {
      padding: 50px 0; }

#servicios {
  margin-top: 95px; }
  #servicios .banner {
    background: url(../../img/slider-servicios.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px; }
    #servicios .banner p {
      color: white;
      font-size: 50px;
      font-weight: 700;
      text-align: center;
      margin-top: 100px; }
  #servicios .description {
    padding: 50px 0; }
    #servicios .description p {
      margin-bottom: 1.6em;
      text-align: justify;
      color: #7a7a7a;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.8em;
      margin: 0; }
  #servicios .compromise {
    padding-bottom: 50px; }
    #servicios .compromise .title {
      color: #059819;
      font-size: 42px;
      line-height: 1.1em;
      font-weight: 700;
      margin-top: 15px; }
      @media screen and (max-width: 992px) {
        #servicios .compromise .title {
          margin-top: 25px; } }
    #servicios .compromise .description-text {
      margin-bottom: 1.6em;
      color: #7a7a7a;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.8em;
      font-weight: 500; }
  #servicios .habilitaciones {
    padding: 80px;
    background: url(../../img/habilitaciones.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px; }
    #servicios .habilitaciones .title {
      color: white;
      font-size: 42px;
      line-height: 1.1em;
      font-weight: 700; }
    #servicios .habilitaciones .description-text {
      margin-bottom: 1.6em;
      color: white;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.8em;
      font-weight: 500;
      padding: 0 100px; }
      #servicios .habilitaciones .description-text:last-child {
        margin-bottom: 0; }
      @media screen and (max-width: 992px) {
        #servicios .habilitaciones .description-text {
          padding: 0; } }

#flota {
  margin-top: 95px; }
  #flota .banner {
    background: url(../../img/flota.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px; }
    #flota .banner p {
      color: white;
      font-size: 50px;
      font-weight: 700;
      text-align: center;
      margin-top: 100px; }
  #flota .description {
    padding: 50px 0; }
    #flota .description p {
      margin-bottom: 1.6em;
      text-align: center;
      color: #7a7a7a;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.8em;
      margin: 0; }
  #flota .flota {
    padding: 0 0 50px 0; }
    #flota .flota .title {
      color: #e70006;
      font-size: 40px;
      font-weight: 600; }
    #flota .flota .description {
      font-size: 16px;
      color: #7a7a7a;
      line-height: 20px;
      padding: 0;
      margin: 0;
      margin-bottom: 50px; }
      #flota .flota .description span {
        font-weight: 700; }
    #flota .flota .items .box {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      #flota .flota .items .box:hover .overlay {
        display: block; }
      @media screen and (max-width: 992px) {
        #flota .flota .items .box {
          margin-bottom: 25px; } }
      #flota .flota .items .box .overlay {
        padding: 10px;
        height: 280px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        display: none; }
        #flota .flota .items .box .overlay .title {
          font-size: 26px;
          color: white;
          font-weight: 500;
          text-align: center;
          margin-top: 75px; }
        #flota .flota .items .box .overlay .see-more {
          font-size: 16px;
          color: white;
          border: 1px solid white;
          padding: 11px 25px;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          font-weight: 500;
          display: inline-block; }
          #flota .flota .items .box .overlay .see-more:hover {
            color: #54595f;
            background: white;
            text-decoration: none; }
      #flota .flota .items .box.compactador {
        background: url(../../img/flota-01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 280px; }
        @media screen and (max-width: 992px) {
          #flota .flota .items .box.compactador {
            background-position: center; } }
      #flota .flota .items .box.batea {
        background: url(../../img/flota-02.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 280px; }
        @media screen and (max-width: 992px) {
          #flota .flota .items .box.batea {
            background-position: center; } }
      #flota .flota .items .box.roll-off {
        background: url(../../img/flota-03.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 280px; }
        @media screen and (max-width: 992px) {
          #flota .flota .items .box.roll-off {
            background-position: center; } }

#compactador {
  margin-top: 95px; }
  #compactador .banner {
    background: url(../../img/compact.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px; }
    #compactador .banner p {
      color: white;
      font-size: 50px;
      font-weight: 700;
      text-align: center;
      margin-top: 100px; }
  #compactador .description {
    padding: 50px 0; }
    #compactador .description .description-text {
      margin-bottom: 0;
      color: #7a7a7a;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.8em; }
      @media screen and (max-width: 992px) {
        #compactador .description .description-text {
          margin-top: 25px; } }
    #compactador .description .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      vertical-align: middle; }
  #compactador .items {
    background: #f6f6f6;
    padding: 50px 0; }
    #compactador .items svg {
      width: 100px;
      margin-bottom: 20px; }
    #compactador .items .title {
      font-size: 25px;
      font-weight: 700;
      color: #e70006; }
    #compactador .items .description-text {
      color: #7a7a7a;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5em;
      padding: 0 35px; }
  #compactador .fancybox {
    padding: 50px 0 20px 0; }
    #compactador .fancybox .col-12 {
      margin-bottom: 30px; }

#batea {
  margin-top: 95px; }
  #batea .banner {
    background: url(../../img/batea-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px; }
    #batea .banner p {
      color: white;
      font-size: 50px;
      font-weight: 700;
      text-align: center;
      margin-top: 100px; }
  #batea .description {
    padding: 50px 0; }
    #batea .description .description-text {
      margin-bottom: 0;
      color: #7a7a7a;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.8em; }
      @media screen and (max-width: 992px) {
        #batea .description .description-text {
          margin-top: 25px; } }
    #batea .description .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      vertical-align: middle; }
  #batea .items {
    background: #f6f6f6;
    padding: 50px 0; }
    #batea .items svg {
      width: 100px;
      margin-bottom: 20px; }
    #batea .items .title {
      font-size: 25px;
      font-weight: 700;
      color: #e70006; }
    #batea .items .description-text {
      color: #7a7a7a;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5em;
      padding: 0 35px; }
  #batea .fancybox {
    padding: 50px 0 20px 0; }
    #batea .fancybox .col-12 {
      margin-bottom: 30px; }

#roll-off {
  margin-top: 95px; }
  #roll-off .banner {
    background: url(../../img/slide-roll-off.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px; }
    #roll-off .banner p {
      color: white;
      font-size: 50px;
      font-weight: 700;
      text-align: center;
      margin-top: 100px; }
  #roll-off .description {
    padding: 50px 0; }
    #roll-off .description .description-text {
      margin-bottom: 0;
      color: #7a7a7a;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.8em; }
      @media screen and (max-width: 992px) {
        #roll-off .description .description-text {
          margin-top: 25px; } }
    #roll-off .description .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      vertical-align: middle; }
  #roll-off .items {
    background: #f6f6f6;
    padding: 50px 0; }
    #roll-off .items svg {
      width: 100px;
      margin-bottom: 20px; }
    #roll-off .items .title {
      font-size: 25px;
      font-weight: 700;
      color: #e70006; }
    #roll-off .items .description-text {
      color: #7a7a7a;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5em;
      padding: 0 35px; }
  #roll-off .fancybox {
    padding: 50px 0 20px 0; }
    #roll-off .fancybox .col-12 {
      margin-bottom: 30px; }

#contacto {
  margin-top: 95px; }
  #contacto .banner {
    background: url(../../img/contacto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px; }
    #contacto .banner p {
      color: white;
      font-size: 50px;
      font-weight: 700;
      text-align: center;
      margin-top: 100px; }
  #contacto .information {
    padding: 50px 0; }
    #contacto .information .title {
      color: #7a7a7a;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 35px; }
    #contacto .information ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      #contacto .information ul li {
        color: black;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 10px; }
      @media screen and (max-width: 992px) {
        #contacto .information ul {
          margin-bottom: 35px; } }
    #contacto .information .btn-submit {
      background: #e70006;
      color: white;
      float: right;
      border: 1px solid #e70006;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      padding: 7px 25px; }
      #contacto .information .btn-submit:hover {
        background: white;
        color: #e70006; }
  #contacto .cv {
    background: #EFEFEF;
    padding: 50px 0; }
    #contacto .cv .title {
      color: #54595f;
      font-size: 26px;
      font-weight: 600; }
    #contacto .cv .description {
      color: #7a7a7a;
      font-size: 20px;
      font-weight: 600; }
    #contacto .cv form .row {
      margin-bottom: 15px; }
    #contacto .cv form label {
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #7a7a7a; }
    #contacto .cv form input[type="file"] {
      border: 0;
      background: transparent; }
    @media screen and (max-width: 992px) {
      #contacto .cv form .col-12 {
        margin-bottom: 15px; } }
    #contacto .cv form .btn-submit {
      background: black;
      color: white;
      border: 1px solid black;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      padding: 7px 25px;
      margin-top: 25px; }
      #contacto .cv form .btn-submit:hover {
        background: white;
        color: black; }

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em; }

::-webkit-scrollbar-thumb {
  background: black; }

::-webkit-scrollbar-track {
  background: gray; }

body {
  scrollbar-face-color: black;
  scrollbar-track-color: gray; }

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; }

.carousel-control-prev, .carousel-control-next {
  z-index: 999999999; }

.fancybox-container {
  z-index: 99999999999999; }
