#compactador{
    margin-top: 95px;
    .banner{
        background: url(../../img/compact.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        p{
            color: $white;
            font-size: 50px;
            font-weight: 700;
            text-align: center;
            margin-top: 100px;
        }
    }
    .description{
        padding: 50px 0;
        .description-text{
            margin-bottom: 0;
            color: $gray-text;
            font-size: 17px;
            font-weight: 400;
            line-height: 1.8em;
            @include media-sm{
                margin-top: 25px;
            }
        }
        .row{
            display: flex;
            align-items: center;
            vertical-align: middle;
        }
    }
    .items{
        background: $gray-light;
        padding: 50px 0;
        svg{
            width: 100px;
            margin-bottom: 20px;
        }
        .title{
            font-size: 25px;
            font-weight: 700;
            color: $red;
        }
        .description-text{
            color: $gray-text;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5em;
            padding: 0 35px;
        }
    }
    .fancybox{
        padding: 50px 0 20px 0;
        .col-12{
            margin-bottom: 30px;
        }
    }
}
