#empresa{
    margin-top: 95px;
    .banner{
        background: url(../../img/slide-empresa.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        p{
            color: $white;
            font-size: 35px;
            font-weight: 700;
            text-align: center;
            margin-top: 100px;
        }
    }
    .history{
        padding: 50px 0;
        p{
            margin-bottom: 1.6em;
            text-align: justify;
            color: $gray-text;
            font-size: 17px;
            font-weight: 400;
            line-height: 1.8em;
        }
        img{
            padding: 50px 0;
        }
    }
}
