// VARIABLES
$primary-font: 'Roboto', sans-serif;

// COLORES
$black: black;
$gray: #535353;
$white: white;
$gray-text: #7a7a7a;
$gray-light: #f6f6f6;
$gray-light-v2: #EFEFEF;
$gray-dark: #54595f;
$gray-dark-v2: #2e2e2e;

$red: #e70006;
$red-dark: #9d0b0f;

$menu-bg: #f8f9fa;

$primary-color: black;
$secondary-color: white;
